.registration__input {
    width: 100%;
    align-self: center;
    border: none;
    background-color: #000000;
    border-bottom: 2px solid #CCCCCC;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-bottom: 13px;
    margin-top: 30px;
}

.registration__input:first-child {
    margin-top: 0;
}